@model List<Slider>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" asp-controller="Slider" asp-action="Create">Add</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Job</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Descripiton</td>
                <td>@item.Job</td>
                <td><img style="width:100px" src="~/img/@item.ImageUrl"></td>
                <td><a class="btn btn-primary" asp-controller="Slider" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Slider" asp-action="Delete"asp-route-id="@item.Id">Delete</a></td>
            </tr>

        }
    </tbody>
</table>
